
.splashbackground_imgs{  
  margin: 10px;  
  width: 100%;
  background: url(images/header2.PNG);   
  
  overflow: hidden;
}

.SplashWhiteLogo{
    width: 454px;
    margin: 0px;
}

.barbershop_text{
    font-size: 48px;
    color: white;
    display: flex;    
    justify-content: center;
    margin: 5px;
    
}
.centering{
    margin-top: 48px;
    display: grid;    
    justify-content: center;    
    border-spacing: 0px;
}

.button{

    font-size: 24px;
    width: 454px;
    height: 54px;
    border-radius: 27px;
    border-color: transparent;
    background-color: black;
    color: white;
}

button:hover{

    background-color: lightgrey;

}