@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/Rockwell-Regular.TTF') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/Rockwell-Bold.TTF') format('truetype');
  font-weight: bold;
}


*,
*::before,*::after{
    box-sizing: border-box;
}

body{  
  font-family: 'Rockwell' ;  
  margin:0;   
  overflow-x: hidden;
  background-color: #1DB547;
}

/*First collection view...jaber...jaber...and...jaber*/

.Center_for-First-Collection-View{

    display:flex;
    justify-content:center;
    
}

.content_posit{

    display: flex;
    justify-content: start;
    margin-right: 100px;
}

.barbershop_appointments_View{

    margin-top: 39px;
    padding: 0px;
    background-color: white;
    width:1171px;
    height: auto;
    border-radius: 25px;
   
}

.first_view_grid{

    margin-top: 15px;
    display:flex;
    justify-content:space-evenly;
    grid-template-columns: 1fr 3fr;
    align-items: center;

}

.appointments_view_text{

    margin-left: 15px;
    color:black;
    font-size: 64px;
    font-weight: bold;

}

.label_Pending{

    margin-top: 15px;
    display:flex;
    justify-content:center;
    font-size: 96px;
    align-items: center;
}

.label_completed{
    margin-bottom: 50px;
    display:flex;
    justify-content:center;
    font-size: 96px;
    align-items: end;
}

.label_7_big_Number{
    font-weight: bold;
    padding: 0px;
    margin-left: 165px;
    font-size: 188px;
}

.flexing_for_number_nd_label{
    
    display:flex;
    margin-top: 0px;
}



/*remaining views */

.position_Center_remaining_grids{


    display:flex;
    justify-content:center;

}

.remaining_view_grid{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: grid; 
    grid-template-columns: 590px 590px;    

}

.remaining_views{
  
   padding: 10px;
   background-color: white;      
   margin: 10px;
   /* margin-right: 57px;*/
   border-radius: 20px;

}

.header_image_On_Remaining_views{

    margin-top: 10px;
    margin-left:25px;
}
.header_Text_On_Remaining_Views{

    margin-left:25px;
    font-size: 48px;
    font-weight: Bold;
}

.revenues_telemetry_grid_Stuff{

    margin-top: 10px;
    margin-bottom: 10px;
    display:grid;
    
    grid-template-columns: 1fr 1fr 1fr;

}


.revenue_telemetry_Text{

    font-size: 24px;
    font-weight: light;
    display: flex;
    justify-content: center;

}

.k_text_on_revenue_collection{

    font-size: 18px;
    font-weight: light;
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}

.revenue_telemetry_Number{


    font-size: 64px;
    font-weight: bold;

}

.position_Center{

    display:flex;
    justify-content: center;
}

.position_vertical{

    padding: 20px;
    display:grid;
    justify-content: center;
    
}

.products_telemetry_grid_Stuff{

    margin-top: 10px;
    display:flex;
    justify-content: center;

}

.products_text{

    margin-left: 15px;
    font-size: 48px;
    font-weight: bold;

}

.products_number{

    font-size: 64px;
    font-weight: bold;
    display:flex;
    justify-content: center;

}

.margin_bottom{

    padding-bottom: 50px;
}

.staff_section_text{

    padding-bottom: 25px;
    font-size: 48px;
    font-weight: bold;
    display:flex;
    justify-content: center;
}

.staff_section_number{

    font-size: 48px;
    font-weight: bold;
    display:flex;
    justify-content: center;
}

.staff_section_text_positioning{

    margin-top: 50px;
    display:grid;
    align-items: end;
}

.position_Center_Footer{

    margin-top: 25px;
    margin-bottom: 5px;
    display:flex;
    justify-content: center;

}