@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/Rockwell-Regular.TTF') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/Rockwell-Bold.TTF') format('truetype');
  font-weight: bold;
}


*,
*::before,*::after{
    box-sizing: border-box;
}

body{  
  font-family: 'Rockwell' ;  
  margin:0;   
 /* overflow: hidden;*/
  background-color: #1DB547;
}




.revenue_Collections_view_positioning{

    display: flex;
    justify-content: center;
}

.revenue_collctions_view{

    margin: 55px;
    padding: 5px;
    background-color: white;  
    width: 1214px;  
    height: auto;
    border-radius: 25px;
   
}

.revenue_collections_heading{

    display: flex;
    justify-content: center;
    align-items: center;

}

.header_image_On_Remaining_views{

    margin-top: 10px;
    margin-left:25px;
}

.header_Text_On_Remaining_Views{

    margin-left:25px;
    font-size: 48px;
    font-weight: Bold;
    margin-top: 5px;
}

.centering_telemetry_data_on_revenue_collctions{

    margin-left: 5px;
    display: flex;
    justify-content: center;
}
.revenue_collctions_view_telemetry_grid{

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;

}

.revenue_telemetry_Text{

    font-size: 24px;
    font-weight: light;
    display: flex;
    justify-content: center;

}

.position_Center{

    display:flex;
    justify-content: center;
}

.k_text_on_revenue_collection{

    font-size: 18px;
    font-weight: light;
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}

.revenue_telemetry_Number{


    font-size: 64px;
    font-weight: bold;

}

.last_12_months{

    margin-right: 15px;

}

.position_Center_Footer{

    margin-top: 25px;
    margin-bottom: 5px;
    display:flex;
    justify-content: center;

}