
.menu{
    line-height: 5px;
    overflow: hidden;
    margin-right: 10px;
    
}
.menu ul{
    display: flex;
    list-style-type: none;
    margin-right: 50px;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: lighter;
    color: white;
    text-decoration: none;
}

.navlinks{
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.navlinks:hover{
    color: black;
    
}

.nav_image{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 42px;
    height: 42px;

}
.nav_centering{
   
  display: flex;    
  justify-content: center;  
  align-items: center;  
  border-spacing: 0px;
}
.margin_right{

   margin-right: 35px;
}

.admin_common_Grid{
   
    display:flex;
    justify-content: center;
   align-items: center; 

}

.admin_layer_location{
    display:flex;
    justify-content: center;
}

.loged_in_User_image{

    width: 76px;
    height: 76px;
    border-radius: 38px;

}

.logedin_user_text{
   margin-left: 10px;
    font-size: 24px;
    font-weight: bold;

}

