@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/Rockwell-Regular.TTF') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/Rockwell-Bold.TTF') format('truetype');
  font-weight: bold;
}


*,
*::before,*::after{
    box-sizing: border-box;
}

body{  
  font-family: 'Rockwell' ;  
  margin:0;   
 /* overflow: hidden;*/
  background-color: #1DB547;
}

.staff_Collections_view_positioning{

    display: flex;
    justify-content: center;
}

.staff_collctions_view{

    margin: 55px;
    padding: 5px;
    background-color: white;  
    width: 1208px;  
    height: auto;
    border-radius: 25px;
   
}

.staff_collections_heading{

    display: flex;
    justify-content: center;
    align-items: center;

}

.header_image_On_Remaining_views{

    margin-top: 10px;
    margin-left:25px;
}

.header_Text_On_Remaining_Views{

    margin-left:25px;
    font-size: 48px;
    font-weight: Bold;
    margin-top: 5px;
}

.staff_section_horizontaling{

    display: flex;
    justify-content: space-evenly;
    
}

.staff_section_text_positioning{

    margin-top: 50px;
    display:grid;
    align-items: end;
}

.staff_section_text{

    padding-bottom: 25px;
    font-size: 48px;
    font-weight: bold;
    display:flex;
    justify-content: center;
}

.staff_section_number{

    font-size: 48px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    margin-bottom: 26px;
}

.position_Center_Footer{

    margin-top: 25px;
    margin-bottom: 5px;
    display:flex;
    justify-content: center;

}

